<!DOCTYPE html>
<html lang="he-IL" dir="rtl">
    <meta charset="utf-8">
    <head>
        <script> 
                var loggeduser_stringid = '<%= userobj._id  %>';
                var loggeduser_name = '<%= userobj.user  %>';
        </script>
            <% include partials/background %>
    </head>

    <body>
            <% include partials/navbar %>
            <div id="container2" >
                    <% include partials/panel %>
                    <div class='col-lg-2 d-sm-none d-none d-md-block'>
                            <% include partials/user-nav-panel %>
                    </div>
                        
                    <br/>
                    <div id="window" class="col-lg-10 col-sm-12">
                            <div id="windowhead">
                                    פרופיל
                            </div>
                            <br/><br/>
                            <div id="content">
                                <span>שם:</span> 
                             <% if(typeof userlookupobj !== 'undefined') {userobj = userlookupobj} %>
                                <%= userobj.user %>
                                <br>
                                <span>דואר אלקטרוני:</span> 
                                <%= userobj.email %>
                                <br>
                                <span>רמה:</span> 
                                <%= userobj.level %>
                                <br>
                                <span>ניקוד:</span> 
                                <%= userobj.score %>
                                <br>
                                <span>מחרוזת מזהה:</span> 
                                <%= userobj._id %>
                                <br>
                                <% if(typeof userlookupobj === 'undefined') { %>
                                <span id="passchange">
                                        <input type="text">
                                        <button id="changenow" class="btn btn-primary">שנה עכשיו!</button>
                                </span>
                                
                                <button id="showchange"class="btn btn-primary">שנה סיסמה</button>
                                <% } %>
                                <hr>
                                <div id="commentsection">
                                        <h4>הודעות</h4>
                                        <div>
                                                <input type="text" name="comment"  id="input_comment">
                                                <button class="btn btn-primary type="submit" id="btn_addcomment">שלח הודעה</button> 
                                        </div>
                                        <hr>
                                        <ul id="comments">
                                                <% for(var i = 0; i< comments.length ;i++) { %> 
                                                        <li><%=comments[i].text%> <br> <i>by:</i> <strong><a href='/profile?userid=<%=comments[i].author._id%>'><%=comments[i].author.user%></a></strong></li>
                                                <% } %>
                                        </ul>
                                </div>
                                
                            </div>

                </div>
                
                
            </div>
    </body>

    <footer>
            <link rel="stylesheet" type="text/css" href="/profile.css">
            <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
            

            <script src="/profile.js"></script>
    </footer>
</html>